body {
    text-align: center;
    background-color: black;
    color: white;
}

.outer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    position: relative;
    display: grid;
    margin: 0 auto;
    gap: 15vmin;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    grid-template-areas: 
        "tl tr"
        "bl br";        
}

#message {
    font-size: 5vmin;
}

button {
    height: 10vmin;
    width: 10vmin;
    border-radius: 50%;
    background-color: rgba(156, 156, 156, 0.87);
}
.lights {
    height: 35vmin;
    width: 35vmin;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

.red.off {
    grid-area: tl;
    background: rgba(245, 31, 31, .8);
}
.blue.off {
    grid-area: tr;
    background: rgba(31, 31, 224, .8);
}
.yellow.off {
    grid-area: bl;
    background: rgba(255, 226, 62, 0.8);
}
.green.off {
    grid-area: br;
    background: rgba(16, 146, 16, .8);
}

.red.on {
    grid-area: tl;
    background: lightcoral;
}
.blue.on {
    grid-area: tr;
    background: lightskyblue;
}
.yellow.on {
    grid-area: bl;
    background: lightgoldenrodyellow;
}
.green.on {
    grid-area: br;
    background: lightgreen;
}