.game {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px;
    grid-template-areas: 
        "tl tr"
        "bl br";

}

.lights {
    height: 200px;
    width: 200px;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

.red.off {
    grid-area: tl;
    background: red;
}
.blue.off {
    grid-area: tr;
    background: blue;
}
.yellow.off {
    grid-area: bl;
    background: yellow;
}
.green.off {
    grid-area: br;
    background: green;
}

.red.on {
    grid-area: tl;
    background: lightcoral;
}
.blue.on {
    grid-area: tr;
    background: lightskyblue;
}
.yellow.on {
    grid-area: bl;
    background: lightgoldenrodyellow;
}
.green.on {
    grid-area: br;
    background: lightgreen;
}