body {
    display: grid;
    text-align: center;
    background-color: black;
    color: rgba(255, 255, 255, 0.795);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    justify-items: center;
}

.game {
    animation-duration: 1s;
    position: relative;
    display: grid;
    margin: 0 auto;
    gap: -60vmin;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "tl . tr"
    ". ctr ."
    "bl . br";        
}

#message {
    font-size: 5vmin;
}

button {
    grid-area: ctr;
    height: 15vmin;
    width: 15vmin;
    border-radius: 50%;
    background-color: rgba(156, 156, 156, 0.87);
    outline: none;
}

.lights {
    height: 30vmin;
    width: 30vmin;
    border-radius: 50%;
    font-size: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
}

.red.off {
    grid-area: tl;
    background: rgba(245, 31, 31, .8);
    border: 3vmin solid red;
}
.blue.off {
    grid-area: tr;
    background: rgba(31, 31, 224, .8);
    border: 3vmin solid rgba(31, 31, 224, .8);;
}
.yellow.off {
    grid-area: bl;
    background: rgba(255, 226, 62, 0.8);
    border: 3vmin solid rgba(255, 226, 62, 0.8);
}
.green.off {
    grid-area: br;
    background: rgba(16, 146, 16, .8);
    border: 3vmin solid rgba(16, 146, 16, .8);
}

.red.on {
    grid-area: tl;
    background: rgb(255, 146, 146);
    border: 3vmin solid rgb(255, 175, 175);
}
.blue.on {
    grid-area: tr;
    background: lightskyblue;
    border: 3vmin solid rgb(164, 220, 255);
}
.yellow.on {
    grid-area: bl;
    background: rgb(255, 255, 186);
    border: 3vmin solid rgb(255, 255, 220);
}
.green.on {
    grid-area: br;
    background: lightgreen;
    border: 3vmin solid rgb(185, 248, 185);
}
